name: Ruff
on:
  push:
  workflow_dispatch:

jobs:
  ruff:
    name: Check for style errors and common problems
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Ruff
        uses: chartboost/ruff-action@v1